[Unit]
Description=BotService
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/root/botpathi
ExecStart=/root/venv
MemoryMax=300M
CPUQuota=30%
StandardOutput=file:/var/log/nimadir.log
StandardError=file:/var/log/nimadirerror.log

[Install]
WantedBy=multi-user.target
